
/*--------- fonts ----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* --------------- Common Styles or Utilities -------------- */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* ------------- Top-banner Styles ------------  */

.top-banner{
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.top-title{
    font-size: 64px;
    font-weight: 900;
    color:#FFFFFF;
    margin-left: 156px;
    margin-bottom: 17px;
    margin-top: 00px;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 24px;
    margin-left: 156px;
}
.link-button:hover{
    
    font-size: 18px;
    color: #E02C6D;
    background-color: #FFFFFF;

}
.fa-arrow-right{
    margin-left: 8px;
}
.top-banner .top-photo img{

    width: 556px;
    height: 438px;
}
.top-photo img:hover{
    transform: scale(1.2) skew(-8deg);
    transition: transform 2s ease-out;
}

/* ------------------- Players Styles ------------------ */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    margin-left: 180px;
    margin-top: 70px;
    margin-right: 210px;
    margin-bottom: 170px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-description{
    padding: 10px;

}
.player-photo img{
    width: 100%;

}
.player-title{
    color:#18191F;
    font-size: 27px;
    margin-bottom: 10px;
    margin-top: 16px;

}
.player-info{
    color:#6C6C6C;
    font-size: 15px;
    margin-top: 0;
    font-weight: 400;
}

/* ----------------- Footer Styles -----------------  */

.footnote{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.social{
    margin-left: 30px;
}
.fab{
    color:#969BAB;
    margin: 0px 14px;
    font-size: 28px;
}
.footer-info{
    color:#000000;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;

}
.footer-info p{
    margin-top: 0;
}

/* ------------------------------
         Media Queries 
   ------------------------------*/

/* ---- Mobile Devices ---- */

@media only screen and  (max-width: 688px) {
    /* Top Banner Styles  */
    .top-banner{
        width: 100%;
        height: 695px;
        background-color: #2D25A0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .top-title{
        font-size: 36px;
        font-weight: 900;
        color:#FFFFFF;
        margin-left: 16px;
        margin-right: 66px;
        margin-bottom: 30px;
        margin-top: 112px;
    }
    .link-button{
        margin-left: 19px;

    }
    .top-banner .top-photo img{

        width: 329px;
        height: 259px;
        margin-top: 55px;
        margin-bottom: 60px;
    }
    /* Players Styles  */
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px;
        margin-left: 15px;
        margin-top: 47px;
        margin-right: 15px;
        margin-bottom: 60px;
    }
    
    .player{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Footer Styles  */
    
    .footer-img img{
        width: 265px;
        height: 63px;
        margin-left: 30px;
        margin-right: 50px;
    }
    .social, .footer-info{
        margin-left: 40px;
        margin-right: 45px;
    }
 
}

/* Tablet Devices  */

@media only screen and (min-width: 689px) and (max-width:991px){

    .players{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 100px;
        margin-right: 150px;
    }

}