
/*--------- fonts ----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* --------------- Common Styles or Utilities -------------- */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* ------------- Top-banner Styles ------------  */

.top-banner{
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.top-title{
    font-size: 64px;
    font-weight: 900;
    color:#FFFFFF;
    margin-left: 156px;
    margin-bottom: 17px;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 24px;
    margin-left: 156px;
}
.link-button:hover{
    
    font-size: 32px;
    color: #E02C6D;
    background-color: #FFFFFF;

}
.fa-arrow-right{
    margin-left: 8px;
}
.top-banner .top-photo img{

    width: 556px;
    height: 438px;
}
.top-photo img:hover{
    transform: scale(1.2) skew(-8deg);
    transition: transform 2s ease-out;
}

/* ------------------- Players Styles ------------------ */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    margin-left: 180px;
    margin-top: 70px;
    margin-right: 210px;
}

.player{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-description{
    padding: 10px;

}
.player-photo img{
    width: 100%;

}
.player-title{
    color:#18191F;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 16px;

}
.player-info{
    color:#6C6C6C;
    font-size: 15px;
    margin-top: 0;
    font-weight: 400;
    
}